<div class="container">
  <h1>Restaurants</h1>

  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
<br>
<%= link_to 'Create a new Restaurant', new_restaurant_path %>
</div>
