<div class="container">

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.text_area :content, rows: 10, class:"form-control" %>
    <%= f.input :rating, collection: (1..5), prompt: "Select rating", class:"form-control" %>
    <%= f.submit "Add review!", class:"btn btn-success" %>
  <% end %>

</div>
